<!DOCTYPE html>
<html>
<head>
    <title>Mark Attendance</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="box">
    <h2>Mark Attendance</h2>

    <p><b>Subject:</b> {{ class_session[1] }}</p>
    <p><b>Class:</b> {{ class_session[2] }}</p>

    <form method="POST" enctype="multipart/form-data">
        <input type="hidden" name="latitude" id="latitude">
        <input type="hidden" name="longitude" id="longitude">

        <label>Upload Selfie:</label>
        <input type="file" name="selfie" accept="image/*" capture="user" required>

        {% if not hide_submit %}
<button type="submit"
        id="submitBtn">
    Submit Attendance
</button>
{% endif %}
    </form>
</div>

<script>
navigator.geolocation.getCurrentPosition(function(position) {
    document.getElementById("latitude").value = position.coords.latitude;
    document.getElementById("longitude").value = position.coords.longitude;
});
</script>

</body>
</html>